<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket-ace</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/break-it">Break It</a></li>
                <li><a href="/lose-it">Lose It</a></li>
                <li><a href="/unauth-it">Unauth It</a></li>
                <li><a href="/tickets">Tickets</a></li>
            </ul>
        </nav>
    </header>  
    <main>
        <h1>Lorem ipsum dolor sit amet</h1>
        <section id="about">
            <h2>consectetur adipiscing elit</h2>
            <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 | Callum Yates | Y042944M</p>
    </footer>
</body>
</html>