<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket-ace</title>
</head>
<body>
    <%- include('partials/_header') %>
    <main>
        <h1>Lorem ipsum dolor sit amet</h1>
        <section id="about">
            <h2>consectetur adipiscing elit</h2>
            <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </section>
    </main>
    <%- include('partials/_footer') %>
</body>
</html>