<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <%- include('partials/_header.html') %>
    <main>
        <section>            
            <h1>Sign in</h1>
            <p>Please sign up with the form below</p>
        </section>
        <form id="signup-form" action="/users/sign-up" class="signup-user-form" method="post" >
            <fieldset class="signup-user-form-area">
            <label for="email">Email Address</label>
            <input id="email" autocomplete="email" name="email" required type="text"></input>
            </fieldset>
            <fieldset class="signup-user-form-area">
            <label for="password">Password</label>
            <input id="password" autocomplete="current-password" minlength="6" name="password" required type="password"></input>
            <p>Password must be at least 6 characters</p>
            </fieldset>
            <input id="signup" disabled type="submit" value="Sign up ⛳"></input>
            </form>
            
    </main>
    <%- include('partials/_footer.html') %>
</body>
</html>