<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tokens-bought</title>
</head>
<body>
    <%- include('partials/_header.html') %>
    <main>
        <section>
            <h1>Tokens Bought Successfully!</h1>
            <p>Thank you for your purchase. Your tokens have been added to your account.</p>
        </section>
    </main>
    <%- include('partials/_footer.html') %>
</body>
</html>