<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alton Turrets</title>
    <!-- Add link to CSS file -->
</head>

<body>
    <header>
        <h1>Welcome to Alton Turrets</h1>
        <nav>
            <button onclick="location.href='/users/sign-up'">Register</button>
            <button onclick="location.href='/users/sign-in'">Login</button>
        </nav>
    </header>
    <main>
        <section>
            <h2>Rides and Fast-Track Prices</h2>
            <form action="/tokens/buy-tokens" method="post">
                <section class="rides-list">
                    <% for (let i=0; i < rides.length; i++) { %>
                        <section>
                            <h3><%= rides[i].name %></h3>
                            <p><%= rides[i].fast_track_cost %></p>
                            <p><%= rides[i].min_height %></p>
                        </section>
                    <% } %>
                </section>
                <input class="product-submit" type="submit" value="Get Rides">
            </form>
        </section>
    </main>
    <%- include('partials/_footer.html') %>
</body>

</html>