<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alton Turrets</title>
    <!-- Add link to CSS file -->
</head>

<body>
    <header>
        <h1>Welcome to Alton Turrets</h1>
        <nav>
            <button onclick="location.href='/users/sign-up'">Register</button>
            <button onclick="location.href='/users/sign-in'">Login</button>
        </nav>
    </header>
    <main>
        <section>
            <h2>Rides and Fast-Track Prices</h2>
            <ul>
                <li>
                    <h3>Spooks Ville</h3>
                    <p>Fast-track cost: £4</p>
                    <p>Minimum height: 130cm</p>
                </li>
                <li>
                    <h3>Rapido Racer</h3>
                    <p>Fast-track cost: £6</p>
                    <p>Minimum height: 140cm</p>
                </li>
                <li>
                    <h3>Bees</h3>
                    <p>Fast-track cost: £5.50</p>
                    <p>Minimum height: 140cm</p>
                </li>
                <li>
                    <h3>Tidal Run</h3>
                    <p>Fast-track cost: £3</p>
                    <p>Minimum height: 120cm</p>
                </li>
                <li>
                    <h3>Ride the Rapids</h3>
                    <p>Fast-track cost: £1</p>
                    <p>Minimum height: 110cm</p>
                </li>
                <li>
                    <h3>The Teacups</h3>
                    <p>Fast-track cost: £1</p>
                    <p>Minimum height: 90cm</p>
                </li>
            </ul>
        </section>
    </main>
    <%- include('partials/_footer.html') %>
</body>

</html>